<div class="selectcategory">
  <h1>Create a new list</h1>

<div class="btn-group">
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    Select a list category <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
   <li><a href="#" class="songform">Songs</a></li>
   <li><a href="#" class="restaurantform">Restaurants</a></li>
   <li><a href="#" class="coffeeshopform">Coffee Shops</a></li>
   <li><a href="#" class="filmform">Films</a></li>
   <li><a href="#" class="cocktailbarform">CocktailBars</a></li>
   <li><a href="#" class="bookform">Books</a></li>
 </ul>
</div>
</div><br>

<li><%#=link_to 'Books', new_user_path, :remote => true, :method => :post %></li>


<div class="mainbook">
<%= form_for @books, :url => book_user_path(@user.id), :method => 'POST' do |f| %>

<div class="bookform">
  <h5>Book</h5>
  <%= f.text_field :name, :placeholder => 'Book title' %><br>
  <%= f.text_field :author, :placeholder => 'Book author' %><br>
</div>
  <%= f.submit "Create", :class => 'btn' %>
<% end %>
</div>


<!-- <div class="mainrestaurant">
<%#= form_for @restaurants, :url => {:controller => :users, :action => "create", :method => :post } do |f| %>

<div class="restaurantform">
  <h5>Restaurant</h5>
  <%#= f.text_field :name, :placeholder => 'Restaurant name' %><br>
  <%#= f.text_field :location, :placeholder => 'Address' %><br>
</div>
  <%#= f.submit "Create", :class => 'btn' %>
<%# end %>
</div> -->

<div class="mainfilm">
<%= form_for @films, :url => {:controller => :users, :action => "create", :method => :post } do |f| %>

<div class="filmform">
  <h5>Films</h5>
  <%= f.text_field :name, :placeholder => 'Film name' %><br>
</div>
  <%= f.submit "Create", :class => 'btn' %>
<% end %>
</div>

<div class="mainsong">
<%= form_for @songs, :url => {:controller => :users, :action => "create", :method => :post } do |f| %>

<div class="songform">
  <h5>Songs</h5>
  <%= f.text_field :name, :placeholder => 'Song name' %><br>
  <%= f.text_field :artist, :placeholder => 'artist' %><br>
</div>
  <%= f.submit "Create", :class => 'btn' %>
<% end %>
</div>

<div class="maincoffeeshop">
<%= form_for @coffeeshops, :url => {:controller => :users, :action => "create", :method => :post } do |f| %>

<div class="coffeeshopform">
  <h5>Coffee Shop</h5>
  <%= f.text_field :name, :placeholder => 'name' %><br>
  <%= f.text_field :location, :placeholder => 'location' %><br>
</div>
  <%= f.submit "Create", :class => 'btn' %>
<% end %>
</div>

<div class="maincocktailbar">
<%= form_for @cocktailbars, :url => {:controller => :users, :action => "create", :method => :post } do |f| %>

<div class="cocktailbarform">
  <h5>Cocktail Bars</h5>
  <%= f.text_field :name, :placeholder => 'name' %><br>
  <%= f.text_field :location, :placeholder => 'location' %><br>
</div>
  <%= f.submit "Create", :class => 'btn' %>
<% end %>
</div>



           



