<h3>Create a new tiplist</h3>

<%= form_for :tiplist, :url => tiplistforms_path, :action => :create, :remote => true do |f| %>
  <p>
    Name: <%= select(:tiplist, :name, [['Book', 'Book'], ['Song', 'Song'], ['CoffeeShop', 'CoffeeShop'], ['CocktailBar', 'CocktailBar'], ['Restaurant', 'Restaurant'], ['Film', 'Film']]) %> add 
  </p>
    <p><%= submit_tag "Create Tiplist" %></p>
  <%end%>


   <%#=link_to image_tag('like.jpg', :width => 20),like_to_do_item_path(to_do_item.id), :remote => true, :method => :post %>



<div class="restaurantcoffeecocktail">
    <%# for advisable in @tiplist.advisables %>
      <%#= fields_for "tiplist[advisable_attributes][]", advisable do |advisable_form| %>
        <p>
          Name: <%#= advisable_form.text_field :name %>
          Author: <%#= advisable_form.text_field :author %>
          Artist: <%#= advisable_form.text_field :artist %>
          Location: <%#= advisable_form.text_field :location %>
        </p>
      <%# end %>
    <%# end %>
    <p><%#= submit_tag "Create Tiplist" %></p>
</div>
<!-- 
<div class="film">
    <% for advisable in @tiplist.advisables %>
      <%= fields_for "tiplist[advisable_attributes][]", advisable do |advisable_form| %>
        <p>
          Name: <%= advisable_form.text_field :name %>
        </p>
      <% end %>
    <% end %>
    <p><%= submit_tag "Create Tiplist" %></p>
</div>

<div class="song">
    <% for advisable in @tiplist.advisables %>
      <%= fields_for "tiplist[advisable_attributes][]", advisable do |advisable_form| %>
        <p>
          Name: <%= advisable_form.text_field :name %>
          Artist: <%= advisable_form.text_field :artist %>
        </p>
      <% end %>
    <% end %>
    <p><%= submit_tag "Create Tiplist" %></p>
</div>

<div class="book">
    <% for advisable in @tiplist.advisables %>
      <%= fields_for "tiplist[advisable_attributes][]", advisable do |advisable_form| %>
        <p>
          Name: <%= advisable_form.text_field :name %>
          Author: <%= advisable_form.text_field :author %>
        </p>
      <% end %>
    <% end %>
    <p><%= submit_tag "Create Tiplist" %></p>
</div> -->
<%#end%>