<!DOCTYPE html>
<html>
<head>
  <title>Trustthetip</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

 <!-- <p class="notice"><%#= notice %></p>
 <p class="alert"><%#= alert %></p> -->


 <div class="navbar">
  
  <div class="navbar-inner">
    <a class="brand" id="leftnav" href="#">Trust The Tip</a>
    <% if user_signed_in? %>
    <a class="brand" id="rightnav" href="#"><%=link_to 'Home', users_path, :class => 'brand' %></a>
    <a class="brand" href="#"><%=current_user.username%></a>
    <img class="brand" id="image" src='<%=@image_url%>'/>
    <%= link_to 'Sign out', destroy_user_session_path, :method => :delete, :id => 'signout', :class => 'brand' %>
    <%end%>
    <% if user_signed_in? == false %>
      <a class="brand" id="leftnav" href="#"><%= render "devise/shared/links"%></a>
    <%end%>

  </div>
</div>

<div>
  <%= yield %>
</div>


</body>
</html>
